@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url(./fonts/Raleway.ttf) format('truetype');
}

@font-face {
  font-family: 'Lora';
  src: local('Lora'), url(./fonts/Lora.ttf) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;
  min-height: 100vh;
}
